.FilterType {
  padding: 5px;
  background: transparent;
  margin-bottom: 15px;
  color: grey;
  height: 2rem;
  min-width: 80px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 8px #ddd;
}
